/* styles.css */

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Special Elite';
  src: url('/fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --main-color: #022F40;
  --light-main-color: #054863;
  --title-color: #90aeba;
  --accent-color: #F46036;
  --light-grey: #D4D3E2;
  --dark-grey: #272F36;
  --text-color: #333;
  --background-color: #ffffff;
}

body {
  font-family: 'Source Code Pro';
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0 5%;
  /* Add more whitespace at the edges */
}

header {
  background-color: var(--background-color);
  color: var(--main-color);
  padding: 1rem 0;
  /* Remove horizontal padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--main-color);
}

header a {
  text-decoration: none;
}

.site-title-container {
  font-family: 'Space Mono', monospace;
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none !important;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 12ch;
  /* Width for "M BAE" */
  transition: width 0.5s ease-in-out, color 0.3s ease;
}

.site-title-container:hover {
  width: 24ch;
  /* Increased to fully show "MATTHIAS BAETENS" */
  color: var(--light-main-color);
  cursor: pointer;
}

.site-title-short,
.site-title-full {
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.5s ease-in-out;
}

.site-title-full {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateX(-100%);
}

.site-title-container:hover .site-title-short {
  opacity: 0;
  transform: translateX(100%);
}

.site-title-container:hover .site-title-full {
  opacity: 1;
  transform: translateX(0);
}

/* Rest of the CSS remains the same */

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0;
  /* Remove horizontal padding */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: var(--light-main-color);
  text-decoration: none;
  padding: 5px 0;
  transition: all 0.3s ease;
  position: relative;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

nav a:hover::after,
nav a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

article {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--dark-grey);
}

a {
  color: var(--main-color);
  text-decoration: none;
  position: relative;
}

a:hover {
  color: var(--accent-color);
}

/* Modify this rule to exclude .site-title */
a:not(.logo):not(nav a):not(.cta-button):not(.site-title)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/* Modify this rule to exclude .site-title */
a:not(.logo):not(nav a):not(.cta-button):not(.site-title):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--light-grey);
  color: var(--main-color);
  font-size: 0.9rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--dark-grey);
}

.cta-button {
  color: var(--accent-color);
  font-weight: bold;
  transition: color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cta-button:hover {
  color: var(--main-color);
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 10px;
  }

  nav ul li {
    margin-left: 0;
    margin-right: 20px;
  }
}

/* Custom Swiper Styles */
.swiper-container {
  position: relative;
  width: 100%;
  height: 400px;
  /* Adjust this value based on your desired height */
}

.swiper-slide {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--light-grey) !important;  /* Changed to light-grey */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

/* New hover styles for arrows */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--accent-color) !important;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: var(--main-color) !important;  /* Changed to main-color */
}

.swiper-pagination-bullet-active {
  background: var(--accent-color) !important;  /* Optional: change active bullet color if needed */
}

.swiper-pagination {
  position: absolute;
  bottom: -24px !important;  /* Moved below the images */
  left: 0;
  right: 0;
  text-align: center;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
}